html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #16519f;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'calibri';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #16519f;
    font-size: 18px;
}

.lang {
    color: #f07e74;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #f07e74;
    font-family: 'Poppins';
}

.menu li a:hover, .active {
    background-color: #4fcbe9;
    color: #ffffff;
    font-weight: 700;
    transition: all ease 0.4s;
}

.active-menu {
    display: block !important;
}

.name {
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}

.name p:nth-child(1), .name .details {
    color: #16519f;
    font-size: 18px;
    font-weight: bold;
}

.name h1 {
    font-family: Poppins;
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    color: #f07e74;
}

.started-btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4fcbe9;
    color: #16519f;
}

.started-btn:hover {
    background-color: #f07e74;
    color: white;
    transition: all ease 0.5s;
}

.social {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}

.social a {
    margin: 6px 12px;
}

.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 16px;
}

.social a:hover i {
    color: #17d1ac;
    transition: all ease 0.5s;
}

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}

.about-text {
    font-family: calibri;
    width: 50%;
}

.about-text h1 {
    font-size: 5rem;
    color: #f07e74;
}

.about-text h2 {
    font-size: 3rem;
    color: #4fcbe9;
}

.about-text h1, h2 {
    margin: 0;
    padding: 0;
}

.about-text p {
    font-size: 1.2rem;
    color: #f8dd2e;
}

.about-text a {
    background-color: #4fcbe9;
    color: #16519f;
    font-size: 18px;
    font-family: calibri;
    font-weight: 600;
    padding: 10px 15px;
}

.about-text a:hover {
    background-color: #f07e74;
    color: white;
    transition: all ease 0.5s;
}

#portfolio {
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 2% 20px 2%;
    background-color: white;
    margin-top: 10px;
}

.p-heading {
    font-family: calibri;
    font-size: 5rem;
    text-align: center;
    color: #f07e74;
    padding: 10px 20px;
    /* background-color: #16519f; */
    letter-spacing: 2px;
    border-radius: 3px;
    /* box-shadow: 2px 2px 20px rgba(0,0,0,0.1); */
}

.p-desc {
    font-size: 1.7rem;
    color: #f07e74;
}

.p-box {
    /* background-color: ; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
    position: relative;
}

.p-b-container {
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.text-overlay {
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #16519f;
    display: none;
}

.text-overlay a {
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    color: #4fcbe9;
}

.text-overlay a:hover {
    color: #f07e74;
    transition: all ease 0.5s;
}

.text-overlay .repo {
    background-color: #4fcbe9;
    color: #16519f;
    font-size: 1.7rem;
    padding: 10px 15px;
}

.text-overlay .repo:hover {
    background-color: #f07e74;
    color: white;
    transition: all ease 0.5s;
}

.text-overlay p {
    font-size: 18px;
    margin: 0px;
    padding: 10px;
    color: #f8dd2e;
    text-align: center;
}

.p-box:hover .text-overlay {
    display: flex;
}

.p-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-form {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    background-color: white;
    /* display: flex; */
    width: 70%;
    height: 60vh;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);
    padding: 10px;
}

.contact h3 {
    color: #f07e74;
    font-size: 2.2rem;
    /* border-bottom: 1px solid #f8dd2e; */

}

.contact p {
    color: #16519f;
    font-size: 18px;
    font-family: calibri;
    font-weight: 500;
}

/* #contact-form form {
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: white;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.c-l-heading {
    font-family: calibri;
    color: #f07e74;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.f-email, .f-name {
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

.f-email h3, .f-name h3 {
    color: #16519f;
    font-size: 22px;
}

.f-email input, .f-name input {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #f8dd2e;
    color: #4e4e4e;
    margin: 10px 0px;
    font-family: calibri;
    font-size: 18px;
}

.f-email input::placeholder, .f-name::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
}

.f-email input:focus, .f-name input:focus {
    border-bottom: 1px solid #f8dd2e;
    transition: all ease 0.5s;
}

.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.message h3 {
    font-size: 18px;
    color: #16519f;
    font-family: calibri;
}

.contact-right textarea {
    width: 100%;
    height: 220px;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #4e4e4e;
    font-size: 16px;
}

.contact-right textarea::placeholder {
    color: #4e4e4e;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
}

.contact-right button {
    width: 100%;
    height: 50px;
    background-color: #4fcbe9;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #16519f;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-right button:hover {
    background: #f07e74;
    color: white;
    transition: all ease 0.5s;
} */

@media(max-width:1190px) {
    #main {
        background-size: 1150px !important;
    }
    .name {
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
    }
    .about-model img {
        height: 400px;
    }
    #services {
        height: auto;
    }
    .b-container {
        flex-wrap: wrap;
    }
    .s-box {
        flex-grow: 1;
    }
    .s-b-img img {
        object-fit: cover;
    }
    #contact-form form {
        width: 95% !important;
    }
}

@media(max-width:970px) {
    #main {
        background-image: none !important;
    }
    .name {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .about-model {
        display: none;
    }
    #about {
        justify-content: center;
        padding-top: 0px;
    }
    .about-text {
        width: 90%;
    }
    .about-text h1 {
        font-size: 4rem;
    }
    .p-container {
        width: 100%;
    }
}

@media(max-width:900px) {
    .toggle {
        display: block;
    }
    .toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 0px;
        margin-left: -30px;
    }
    .toggle.active:before {
        content: '\f00d' !important;
    }
    nav {
        padding: 10px 30px;
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color: #0F0F0F;
        top: 50px;
        left: 0;
        transition: 0.5s;
        overflow: hidden;
        display: none !important;
        border: 3px solid #1F1F1F;
    }
    nav ul li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        color: #ffffff !important;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
        padding: 0px !important;
    }
    nav ul {
        padding: 0px;
        margin: 0px;
    }
    .active-menu {
        display: block !important;
    }
    nav ul li a:hover {
        background-color: rgba(27, 29, 32, 0.15);
    }
    .p-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        height: auto;
    }

    .text-overlay a {
        font-size: 24px;
        text-align: center;
    }

    .c-b-heading {
        font-size: 1.4rem;
        text-align: center;
    }
    #contact-form {
        padding: 20px;
        height: auto;
        box-sizing: border-box;
    }
    #contact-form form {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 90% !important;
    }
    .contact-left, .contact-right {
        width: 100%;
        border: none;
    }
    .f-name, .f-email {
        width: 100%;
    }
    .f-name input, .f-email input {
        width: 100%;
        border: none;
        background-color: #262626 !important;
        padding: 10px;
        box-sizing: border-box;
        height: 40px;
    }
    textarea {
        background-color: #262626 !important;
        margin: 10px 0px;
        padding: 10px;
        height: 200px !important;
        width: 100% !important;
    }
    .message {
        margin: 0px;
    }
    #contact-form form h1 {
        margin: 5px 0px;
    }
}

@media(max-width:600px) {
    .p-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .c-b-heading {
        font-size: 1.2rem;
        text-align: center;
        margin: 0px 10%;
    }
    .name {
        width: 60%;
    }

    .social {
        left: 30px;
        transform: translateX(-10px);
    }
}

@media(max-width:400px) {
    .s-box {
        width: 100%;
        height: 400px;
    }
}